.logo__imagem{
  width: 60px;
  padding-right: 10px;
  
}
.logo__imagem:hover, .icone__telefone:hover,
.icone__envelope:hover, .icone__envelope:hover,
.paragrafos__contato:hover, .imagem__parcerias__tab:hover,
.card:hover {
  transform: translateY(-4px);
  cursor: pointer;
}

.imagem__integrantes{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 60px;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 10px solid #fff;
  box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.1); 
}

.missao{
  color: #fff;
  text-align: center;
}


.imagem__parcerias{
  width: 200px;
}

.imagem__integrantes:hover {
  transform: translateY(-4px);
  cursor: pointer;
}

.imagem__parcerias:hover {
  transform: translateY(-4px);
  cursor: pointer;
}

.fotos__integrantes{
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding-right: 60px;
  padding-left: 60px;
}

.container__integrantes{
  background-image: linear-gradient(to bottom, #01237D, #7709FE, #000);
  padding-bottom: 40px;
}

.cargos__integrantes{
  text-align: center;
  color: #ffff;
  padding-top: 20px;
  h5{
    font-weight: bold;
  }
}

.titulo__integrantes{
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-top: 100px;
}

.parceiros__container{
  background-image: linear-gradient(to bottom, #01237D, #7709FE, #000);
  padding-bottom: 40px;
}

.parceiros{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
  .container__parceria{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .quem__somos{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
    
    img{
      width: 300px;
    }
  }

  @keyframes subirDescer {
    0%, 100% {
      transform: translateY(0); /* A posição inicial e final é a mesma */
    }
    50% {
      transform: translateY(-20px); /* Eleva a div 20 pixels no meio da animação */
    }
  }
  
  .subir-descer-animacao {
    animation: subirDescer 2s ease-in-out infinite; /* Aplica a animação */
  }

  .clientes{
    display: flex;
    flex-direction: row;
  }
  
  .fale__conosco{
    display: flex;
    flex-direction: row;  
    background-image: linear-gradient(to bottom, #333333, #000);
    justify-content: center;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;

    div form p, label {
      color: #fff;
    }

    .logo__gptw{
      width: 100px;
    }

    p{
      font-size: 40px;
      font-weight: bold;
    }

    .logo__empresa{
      width: 90px;
      margin-right: 100px;
    }

    .contato{
      color: #fff;
      padding-top: 100px;
    }

    form{
      display: flex;
      flex-direction: column;
      margin-right: 50px;
    }

    .paragrafos__contato{
      font-size: 20px;
      font-weight: bold;
    }

    .icone__telefone{
      width: 20px;
      height: 20px;
      margin-right: 10px;
      margin-top: 6px;
    }

    .icone__envelope{
      width: 20px;
      height: 20px;
      margin-top: 5px;
      margin-right: 8px;
    }

    .infos{
      display: flex;
      flex-direction: row;
    }
    
    .info__contato{
      display: flex;
      width: 100%;
      margin-bottom: 40px;
      justify-content: center;
      margin-top: 30px;
    }
  }
  
  .imagem__parcerias__tab{
    width: 300px;
    padding-bottom: 20px;
  }

  .valores__container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }